<h2>hello</h2>
<a href="#" class="nav-link" style="color:black">Home</a>
<a href="<%= units_path %>" class="nav-link" style="color:black">Units</a>
<a href="<%= customers_path %>" class="nav-link" style="color:black">Units</a>